; [submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
; 	path = zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
; 	url = https://github.com/zsh-users/zsh-autosuggestions.git
; [submodule "zsh/.oh-my-zsh/custom/plugins/zsh-256color"]
; 	path = zsh/.oh-my-zsh/custom/plugins/zsh-256color
; 	url = https://github.com/chrissicool/zsh-256color.git
; [submodule "zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
; 	path = zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
; 	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Sly-Harvey/nvim.git
[submodule "tmux/.config/tmux/plugins/catppuccin-tmux"]
	path = tmux/.config/tmux/plugins/catppuccin-tmux
	url = https://github.com/dreamsofcode-io/catppuccin-tmux
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.config/tmux/plugins/vim-tmux-navigator"]
	path = tmux/.config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
